* {
	margin: 0;
	border: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	line-height: 1.25;
	font-family: sans-serif;
}

a:link, a:visited {
	color: #662200;
	text-decoration: underline;
	font-weight: bold;
}

section {
	padding: 20px 10px 40px 10px;
}

@media (min-width: 600px) {
	section {
		padding-left: 20px;
		padding-right: 20px;
	}
}

h1 {
	font-size: 40px;
	padding-bottom: 20px;
}

.centered_section_container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}

#header {
	padding: 100px 10px 100px 10px;
	text-align: center;
	display:flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	#header {
		padding: 220px 10px 80px 10px;
	}
}

#logo {
	margin: 0 auto;
}

#logo img {
	width: 100%;
	max-width: 500px;
}

#conference_subtext {
	font-size: 30px;
}

#info_icons {
	font-size: 25px;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 600px) {
	#info_icons {
		flex-direction: row;
	}
}

.info_icon {
	padding: 20px 0;
} 

.info_icon img {
	height: 85px;
}

#program {
	background: black;
}

#program h1 {
	color: white;
}

.program_listing {
	background: orange;
	background-size: 0 0;
	margin: 10px 0 16px 0;
}

.program_listing .program_time {
	font-weight: bold;
}

.program_listing.expanded {
	background-size: cover;
	background-position: center top;
}

.no_details {
	padding: 7.5px;
	font-size: 20px;
	display: flex;
}

.no_details .program_time {
	width: 92.5px;
	text-align: center;
}

.no_details .no_details_description {
	flex: 1;
	padding-left: 7.5px;
}

.program_header {
	display: flex;
	background: rgba(255,165,0, 1);
	flex-wrap: wrap;
	cursor: pointer;
}

.expanded .program_header {
	background: rgba(255,165,0,.93);
}

.speaker_portrait {
	width: 100px;
	height: 100px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.speaker_portrait img {
	width: 85px;
	height: 85px;
}

.speaker_details {
	flex: 1;
	padding: 7px;
}

.expand_program {
	width: 100%;
	height: 40px;
	flex: none;
	background: darkorange;
	background-image: url('img/more.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

@media (min-width: 400px) {
	.program_header {
		flex-wrap: nowrap;
	}

	.expand_program {
		height: auto;
		width: 17%;
		max-width: 100px;
	}
}


.expanded .expand_program {
	transform: scaleY(-1);
}

.program_body {
	background: rgba(253, 185, 62, 0.87);
	font-size: 18px;
	display: none;
}

.expanded .program_body {
	display: block;
}

.presentation_title {
	padding-bottom: 5px;
}

.unannounced_header {
	display:flex;
    align-items: center;
}

.speaker_name {
	display: block;
	font-weight: bold;
	font-size: 20px;
}

.speaker_post {
	display: block;
}

.speaker_company {
	font-weight: bold;
}

.program_body {
	padding: 20px;
}

.program_description {
	padding-bottom: 30px;
}

.speake_bio_title {
	font-weight: bold;
}

#info {
	background: black;
}

#info h1 {
	color: white;
}

#info_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#info_content {
	background: orange;
	padding: 20px;
	flex-grow: 1;
}

#info_content h2:first-child {
	padding-top: 0;
}

#info_content h2 {
	padding: 15px 0 5px 0;
}

#map {
	width: 100%;
	height: 400px;
	flex-shrink: 0;
	background: orange;
}

@media (min-width: 750px) {	
	#info_container {	
		flex-wrap: nowrap;	
		align-items: stretch;	
 	}	
	#info_content {	
		flex-grow: 0;	
	}	
	#map {	
		width: 350px;	
		height: auto;	
		min-height: 300px;	
		align-self: stretch;	
	}	
}

#mce-EMAIL {
	padding: 5px;
	border: 1px solid #662200;
	margin-bottom: 10px;
	font-size: 18px;
}

@media (min-width: 350px) {
	#mce-EMAIL {
		width: 300px;
	}
}

.checkbox.subfield {
	display: block;
	padding-left: 5px;
}

.av-checkbox {
	margin: 2px 5px 0 0;
}

.mc_fieldset {
	padding: 5px 0;
}

#fineprint {
	font-size: 10px;
	padding: 5px 0;
}

.button {
	font-size: 20px;
	margin: 5px 0;
	padding: 7px;
	background: darkorange;
}

@media (min-width: 250px) {
	#mc-embedded-subscribe {
		width: 200px;
	}
}

#organizers {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 10px 0 10px;
}

@media (min-width: 750px) {	
	#organizers {
		flex-direction: row;
		padding: 20px 40px 0 40px;
	}
}

.organizer {
	display: flex;
	padding: 10px 0;
}

.organizer_portrait {
	flex-shrink: 0;
	width: 70px;
	height: 70px;
}

.organizer_portrait img {
	max-width: 100%;
}

.organizer_details {
	flex: 1;
	padding: 5px 5px 5px 10px;
}

#contact_us {
	padding-top: 60px;
	margin: 0 auto;
	text-align: center;
	font-size: 23px;
}

#contact_us h2 {
	font-size: 30px;
	padding-bottom: 8px;
}

#sam {
	padding: 100px 0 0 30px;
}

#footer {
	
}

#footer .centered_section_container {
	padding-bottom: 5px;
}

#sponsors {
	background: orange;
}

#sponsor_logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#sponsor_logos a {
	margin: 10px 25px 10px 25px;
}

#privacy_policy {
	text-align: center;
	padding-bottom: 5px;
	font-size: 12px;
}
.collapse {
	transform-origin: 0 0;
	transform: scaleY(0);
	transition:
		transform 1s ease-out;
}
